@font-face {
    font-family: myFirstFont;
    src: url(CursedTimerUlil-Aznm.ttf);
  }

body {
    margin: 0;
    background-color: #1B244A;
}

body, .button-swing{
  font-family: 'myFIrstFont';
}

.head, #board, .container2 {
  display: flex;
}

.head {
    justify-content: space-around; 
    max-height: 35vh;
}

button {
  margin: 0 auto;
  display: block;
}

span:hover {
  background-color: black;
  cursor: pointer;
}

.head h3 {
    color: #fff;
    font-size: 5.625rem;
}

#board {
    justify-content: space-around; 
    color: #F94F6D;
    text-align: center;
    align-items: center;
    font-size: 8rem;
}

#board section{
  width: 25%;
  padding: .2em 30px;
  background-color: black;
  border-radius: 5px;
}

.container2{
  justify-content: space-around;
  padding-top: 2em;
}

#points span {
    font-size: 1.875rem;
    color: #fff;
    display: inline-block;
    border-radius: 5px;
    padding: .4em .4em;
    margin: 0px 15px;
}

#points span, .button-swing{
  border: 1px solid #fff;
}

.button-swing {
    color: #fff;
    background-color: transparent;
    border-radius: 4px;
    padding: 1em 26px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  .button-swing:focus {
    animation: swing 1s ease;
    animation-iteration-count: 1;
  }
  
  @keyframes swing {
    15% {
      transform: translateX(5px);
    }
    30% {
      transform: translateX(-5px);
    }
    50% {
      transform: translateX(3px);
    }
    65% {
      transform: translateX(-3px);
    }
    80% {
      transform: translateX(2px);
    }
    100% {
      transform: translateX(0);
    }
  }

  @media (max-width: 599px){
    #points span {
      font-size: 1.4rem;
    }

    .head h3{
      font-size: 5rem;
    }
  }






